@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1d19;
  --foreground: #ffffff;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
